<!-- this is the footer file -->
<script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 
<script>
    const lenis = new Lenis()

    lenis.on('scroll', (e) => {
    //   console.log(e)
    })

    function raf(time) {
    lenis.raf(time)
    requestAnimationFrame(raf)
    }

    requestAnimationFrame(raf)
</script>
</body>
</html>