<!-- This is the header for the weather compass and all the meta tags and links -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <!-- cdn links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    

    <!-- ---- meta tags ---- -->

    <meta name="keywords" content="weather weather-compass weather-app weather-forecast weather-forecast-app node-app express-app">
    <meta name="description" content="Stay ahead of the weather with my newly launched web app! Get real-time forecasts, hourly updates, and detailed weather insights for your city. Whether you're planning your day or just curious about the weather, my app has you covered. Visit now and see how easy it is to stay informed!">
    <meta name="subject" content="weather-web-app">
    <meta name="copyright"content="Weather Compass">
    <meta name="author" content="Rakesh karmaker">
    <meta name="url" content="https://weather-compass.onrender.com/">
    <meta name="og:title" content="Weather Compass"/>
    <meta name="og:type" content="weather"/>
    <meta name="og:url" content="https://weather-compass.onrender.com"/>
    <meta name="og:image" content="assets/icon/link-icon.png"/>
    <meta name="og:site_name" content="Weather Compass"/>
    <meta name="og:description" content="Stay ahead of the weather with my newly launched web app..."/>
    <link rel="icon" type="image/x-icon" href="assets/icon/icon-original.png">




    <title>Weather Compass</title>
</head>
<body>