* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.inter-100 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

img {
    width: 100px;
    height: 100px;
    /* filter: drop-shadow(0px 0px 10px rgba(0, 0, 20, 0.5)); */
}







:root {
    --page-background : #0B121E;
    --component-background : #202b3c62;
    --blur-com : 5px;
    --primary-color : rgba(255, 255, 255, 0.79);
    --secondary-color : rgba(255, 255, 255, 0.61);
    --low-text-color : rgba(217, 217, 217, 0.46);
    --form-color : #273852;
    --lowest-color : rgba(217, 217, 217, 0.34);
}

body {
    background-color: var(--page-background);
    width: 100%;
    height: max(100%, 100svh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}





main {
    width: 100%;
    /* max-width: 1800px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    padding: 40px;

}




.container {
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    height: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
}
.container::after {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
    z-index: 3;
    /* background: radial-gradient(circle, transparent 5%, rgba(0, 0, 0, 0.815)); */
    background: radial-gradient(circle, transparent 5%, (var(--page-background) 10%));
}
.box {
    border: 1px solid rgba(255, 255, 255, 0.013);
    aspect-ratio: 1 / 1;
}


/* --------------- top part starts here------------- */

.top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}


/* --------------- top left part starts here------------- */

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


nav {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav form:nth-child(1) {
    display: flex;
    position: relative;
    align-items: center;
    flex-grow: 1;
}

nav form input {
    width: 100%;
    height: 45px;
    background-color: var(--component-background);
    backdrop-filter: blur(var(--blur-com));
    color: var(--secondary-color);
    border-radius: 14px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    transition: 0.25s;
}
nav form input::placeholder {
    color: var(--low-text-color);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
nav form label {
    position: absolute;
    right: 20px;
    color: var(--low-text-color);
    font-size: 18px;
}
nav input:focus {
    outline: none;
    opacity: 0.9;
}




.refresh button {
    width: 120px;
    height: 45px;
    border-radius: 14px;
    background-color: var(--component-background);
    backdrop-filter: blur(var(--blur-com));
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    transition: 0.25s;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1px;
}

.refresh button i {
    transition: 0.25s;
}

.refresh button:hover {
    opacity: 0.9;
}

.refresh button:hover i {
    transform: rotate(180deg);
}











/* -------------------- header part starts here ----------------- */

header {
    width: 100%;
    max-width: 900px;
    min-height: 270px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

header article h2 {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0px 4px 24px rgba(0, 38, 255, 0.226);
}

header article p {
    color: var(--secondary-color);
    margin-bottom: 40px;
}

header article h1 {
    font-size: 50px;
    color: var(--primary-color);
    text-shadow: 0px 4px 24px rgba(0, 38, 255, 0.226);
}

header img {
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}



/* ----------------- hourly-weather part starts here ----------------- */
.hourly-weather {
    background-color: var(--component-background);
    backdrop-filter: blur(var(--blur-com));
    max-width: calc(100vw - 630px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    border-radius: 14px;
    justify-content: center;
    justify-self: flex-end;
    align-self: flex-start;
    padding: 20px;
    position: relative;
}

.hourly-weather h2 {
    color: var(--secondary-color);
    font-size: 19px;
    letter-spacing: 1px;
}

.hourly-weather section {
    width: 100%;
    display: flex;
}


.hourly-form {
    min-width: 100px;
    display: flex;
    flex-direction: row;
    height: 180px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
}
.hourly-form::-webkit-scrollbar {
    height: 3px;
    width: 10px;
}

/* Track */
.hourly-form::-webkit-scrollbar-track {
    background: #f1f1f12f; 
}

/* Handle */
.hourly-form::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
}

/* Handle on hover */
.hourly-form::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.hour {
    min-width: 133px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    transition: 0.25s;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    position: relative;
}
.hour:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 150px;
    background-color: var(--low-text-color);
    right: -15px;
}
.hour img {
    width: 70px;
    height: 70px;
}
.hour p {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
}



.hour.active-hour {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.hour:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}





/* ------------------------ top right part starts here ------------------------ */
.right {
    width: 500px;
    min-height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    background-color: var(--component-background);
    backdrop-filter: blur(var(--blur-com));
    border-radius: 14px;
}

.right h2 {
    color: var(--secondary-color);
    font-size: 19px;
    letter-spacing: 1px;
}

.day-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0px 10px;
}

.day {
    width: 100%;
    height: 75px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: 0.25s;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    padding: 0px 10px;
}

.day:not(:last-child)::after {
    content: "";
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 96%;
    left: 2%;
    height: 1px;
    background-color: var(--low-text-color);
    bottom: -15px;
}

.day p {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    width: 80px;
}


.day p:has(span) {
    color: var(--low-text-color);
}
.day p:has(span) span:nth-child(1) {
    color: var(--secondary-color);
}

.day div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    /* width: 150px; */
}

.day img {
    width: 70px;
    height: 70px;
}

.active-day {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.day:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}




/* ---------------------- bottom part starts here ---------------------- */

.bottom {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 50px;
}


/* ------------------------ details starts here ------------------------ */

.details {
    width: 100%;
    max-width: 900px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: var(--component-background);
    backdrop-filter: blur(var(--blur-com));
    border-radius: 14px;
    padding: 50px;
}

.details h2 {
    color: var(--secondary-color);
    font-size: 19px;
    letter-spacing: 1px;
}

.details article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.details article > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    position: relative;
}

.details article > div:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--low-text-color);
    position: absolute;
    right: -50px;
    top: 0px;
    z-index: 99;
}

.heading {
    color: var(--secondary-color);
    font-size: 24px;
}

.value {
    color: var(--primary-color);
    padding-left: 20px;
    font-size: 30px;
    font-weight: 600;
}



/* -------------------------- newsletter part starts here -------------------------- */

.newsletter {
    width: 100%;
    /* max-width: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--component-background);
    backdrop-filter: blur(var(--blur-com));
    border-radius: 14px;
    padding: 50px;
}

.upper-part {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.upper-part h2 {
    color: var(--low-text-color);
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.upper-part h2 span {
    color: var(--primary-color);
}

.upper-part p {
    max-width: 400px;
    color: var(--lowest-color);
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.upper-part form {
    display: flex;
    gap: 20px;
}

.upper-part form input {
    width: 100%;
    max-width: 250px;
    height: 35px;
    background-color: var(--form-color);
    border-radius: 17px;
    outline: none;
    border: none;
    padding-left: 15px;
    color: var(--secondary-color);
}

.upper-part form input::placeholder {
    color: var(--secondary-color);
}

.upper-part form button {
    min-width: 100px;
    height: 35px;
    background-color: var(--form-color);
    border-radius: 17px;
    outline: none;
    border: none;
    color: var(--secondary-color);
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
}

.upper-part form button:hover {
    background-color: var(--primary-color);
    color: var(--form-color);
}


.upper-part form input:focus {
    opacity: 0.9;
}

.sub {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}

.socials {
    width: 45px;
    padding: 20px 0px;
    border-radius: 30px;
    background-color: var(--page-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.socials a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 23px;
    transition: 0.25s;
}
.socials a:hover {
    color: var(--secondary-color);
}

.newsletter > p {
    color: var(--secondary-color);
}










@media screen and (max-width: 1660px) {
    .heading {
        font-size: 17px;
    }
    .value {
        font-size: 23px;
    }
}

@media screen and (max-width: 1400px) {
    main {
        padding: 18px
    }
    .bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading {
        font-size: 24px;
    }
    .value {
        font-size: 30px;
    }
    .details {
        max-width: 100%;
    }
}


@media screen and (max-width: 1100px) {
    .top {
        gap : 20px;
    }
    .right {
        width: 360px;
    }
    .hourly-weather {
        max-width: calc(100vw - 426px);
    }
}

@media screen and (max-width: 850px) {
    .top {
        flex-direction: column;
    }
    .right {
        width: 100%;
    }
    .hourly-weather {
        max-width: calc(100svw - 36px);
    }
}


@media screen and (max-width: 800px) {
    .heading {
        font-size: 17px;
    }
    .value {
        font-size: 23px;
    }
}

@media screen and (max-width: 670px) {

    .details article {
        flex-direction: column;
    }
    .details article > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .details article > div p {
        text-align: center;
        width: 150px;
        padding: 0;
        margin: 4px 0px;
    }
    .value {
        padding: 0;
        font-size: 30px;
    }
    .details article > div::after {
        display: none;
    }
    .upper-part {
        flex-direction: column-reverse;
    }
    .socials {
        flex-direction: row;
        height: 45px;
        width: inherit;
        padding: 0px 20px;
    }
}


@media screen and (max-width: 550px) {
    .details {
        padding: 20px 7px;
    }
    header img {
        width: 150px;
        height: 150px;
    }
    .upper-part form input {
        max-width: 100%;
    }
    .newsletter {
        text-align: center;
    }
    .details {
        text-align: center;
    }
    .hourly-weather {
        text-align: center;
    }
    .right h2 {
        text-align: center;
    }
    .upper-part form {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 450px) {
    .day img {
        width: 50px;
        height: 50px;
    }
    .day p {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 390px) {
    header {
        flex-direction: column-reverse;
        padding: 30px 0px;
        text-align: center;
    }
    header article p {
        margin-bottom: 20px;
    }
    .details article {
        gap: 20px;
    }
    .details article > div {
        flex-direction: column;
    }
}